.catalogTable {
  width: 100%;
  border-collapse: collapse;

  &__container {
    margin: 15px 20px;
  }

  &_Additional {
    margin-left: 20px;
    width: calc(100% - 20px);
  }

  &__input,
  &__select {
    background-color: #3e8a0bb7;
    display: inline-flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    border: 2px solid #326d0c;
    border-radius: 5px;
    font-size: 1em;
    padding: .5em;
    min-width: 100px;
    max-width: 500px;
    color: #fff;
  }

  &__option:checked {
    color: #fff;
    background-color: #38750eb2;
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: #326d0c;
    border-radius: 4px 4px 0 0;
    color: #fff;
  }

  &__search {
    outline: none;
  }

  &__th {
    background-color: #f2f2f2;

    &:hover {
      cursor: pointer;
      background-color: #e5e5e5;
    }

    &-asc::after {
      display: inline-block;
      content: " ▼";
    }

    &-desc::after {
      display: inline-block;
      content: " ▲";
    }
  }

  &__th,
  &__td {
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  &__user {
    color: red;
    font-weight: bold;
  }

  &__tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  &__tr:hover {
    background-color: #e5e5e5;
  }
}

.clicked {
  background-color: #d3d3d3;
}